.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.menu{
  list-style-type: none;
}

.menu li{
  display: inline-block;
  margin: 0 1em;
}

textarea{
  width: 75vw;
  height: 50vh;
  border: 1px solid grey;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
